{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 offset-4" style="background-color: beige; border-radius: 15px;">
            <h1 class="text-center px-4 py-5">Creer un évenement</h1>
            <form method="post" class="px-4 py-5" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="mb-3">
                <label for="nom" class="form-label">Nom </label>
                <input type="text" class="form-control" id="name" placeholder="Votre nom" name="name">
              </div>
              <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label">Lieu</label>
                <input type="text" class="form-control" id="lieu" placeholder="Cotonou" name="lieu">
              </div>
              <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label">Date et Heure</label>
                <input type="datetime-local" class="form-control" id="event_date" placeholder="Cotonou" name="event_date">
              </div>
              <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label">Photo</label>
                <input type="file" class="form-control" id="event_date"  name="event_photo">
              </div>
              <div class="mb-3">
                <label for="nbr_ticket" class="form-label">Nombre de ticket(s)</label>
                <input type="number" minlength="1" class="form-control" id="nombreTicket" placeholder="" name="nbr_ticket">
              </div>
              <button type="submit" class="btn btn-primary">Publier</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}