<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
   
        {% block content %}
            <h1>Home Page</h1>
        
        <form action="{% url 'search_results' %}" method="get">
            <input name="q" type="text" placeholder="Search...">
        </form>
        {% endblock content %}

{% block scripts %}
        {% comment %} <script>
            const data = '{{qs_json}}'

            console.log(data)
        </script>
    {% endcomment %}
{% endblock scripts %}
  
</body>
</html>