{% extends 'base.html' %} 
{% load static %}

{% block content %}


<div id="carouselExampleAutoplaying" class="carousel slide mt-5" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static '/img/img-entete.jpg' %}" class="d-block w-100" alt="..." style="height: 400px;">
    </div>
    <div class="carousel-item">
      <img src="{% static '/img/ticket.png' %}" class="d-block w-100" alt="..." style="height: 400px;">
    </div>
    <div class="carousel-item">
      <img src="{% static '/img/event1.jpg' %}" class="d-block w-100" alt="..." style="height: 400px;">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container-fluid mt-5">
  
    <div class="row">
        {% for event in events %}

            
            {% if event.nbr_ticket > 0 %}
              
              
          <div class="col-sm-3 mb-3">
              <div  class="card card-cover h-100 overflow-hidden text-bg-white rounded-4 shadow-lg">
                <img src=/{{event.event_photo}} alt="img" srcset="" id='img-background' style="height: 250px!important;">
                <div class="d-flex flex-column  p-5 pb-3 text-dark text-shadow-1">
                  <h6 class="mb-2  lh-1 fw-bold">{{ event.name }}</h6>
        
                    <div class="row">
                      <p >
                        <span><i class="bi bi-geo-alt"></i></span>
                        <small>{{event.lieu}}</small>
                      </p>
                    </div>
                    <div class="row">
                      <p >
                        <span><i class="bi bi-ticket"></i></span>
                        <small>{{event.nbr_ticket}} disponible(s)</small>
                      </p>
                    </div>

                    <div class="row">
                      <p >
                        <span><i class="bi bi-cash"></i></span>
                        <small>{{ event.price }} FCFA</small>
                          
        
                            
                      </p>
                    </div>

                    <div class="row">
                      <p >
                        <span><i class="bi bi-calendar-event"></i></span>
                        <small>{{ event.event_date }}</small>
                          
                        <p class="text-center"> 
                            <a href="{% url 'commande' event.id %}" type="button" class="btn btn-primary px-5 ">Passer la commande</a>
                        </p> 
                            
                      </p>
                    </div>
                    
                    
                </div>
              </div>
            </div>
            {% endif %}
        {% endfor %}  
            </div>
      
    </div>
  
</div>


{% endblock %}