{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4 offset-4 mt-4" style="background-color: beige; border-radius: 15px;">
            <h1 class="text-center px-4 py-2">Créer un événement</h1>
            <form method="post" class="px-4 py-2" enctype="multipart/form-data" >
                {% csrf_token %}
              <div class="mb-3">
                <label for="nom" class="form-label">Nom </label>
                <input type="text" value="{{event.name}}" class="form-control" id="name" placeholder="Votre nom" name="name">
              </div>
              <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label">Lieu</label>
                <input type="text" value="{{event.lieu}}" class="form-control" id="lieu" placeholder="Cotonou" name="lieu">
              </div>
              <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label">Date et Heure</label>
                <input type="datetime-local" value="{{event.event_date}}" class="form-control" id="event_date" placeholder="Cotonou" name="event_date" min="2023-12-13">
                <p class="text-danger">{{message}}</p>
              </div>
              <div class="mb-3">
                <label for="exampleDropdownFormPassword1" class="form-label">Photo</label>
                <input type="file" class="form-control" id="event_date" value="{{event.event_photo}}" name="event_photo">
              </div>
              <div class="mb-3">
                <label for="nbr_ticket" class="form-label">Nombre de ticket(s)</label>
                <input type="number" minlength="1" class="form-control" id="nombreTicket" value="{{event.nbr_ticket}}" placeholder="" name="nbr_ticket">
                <p class="text-danger">{{message_error}}</p>
              </div>
              <div class="mb-3">
                <label for="nbr_ticket" class="form-label">Prix</label>
                <input type="number" minlength="1" class="form-control" id="price" placeholder="" name="price" value="{{event.price}}">
                <p class="text-danger">{{message_error1}}</p>
              </div>
              <button type="submit" class="btn btn-primary px-5 text-uppercase" style="margin-left:70px;">Modifier</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}