#img-entete{
    
    height: 400px;
}

#first-part{
    background-color: skyblue!important;
    border-radius: 30% 70% 70% 30% / 30% 58% 42% 70%!important;
    font-size: 25px!important;
    padding: 100px!important;
}
 
 #img-background {
    border-radius: 5px 5px 0px 0px;
    height: 260px!important; 
}




/********* FOOTER  **************/

/*********      *****************/


#footer{
    background-color: rgb(18, 54, 54);
    color:white;
    height: 200px;
    padding: 70px;
    text-align: center;
    
    
}